@media (min-width: $tablet-width) {
  .additional-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: $dekstop-width) {
  .additional-list {
    display: flex;
    justify-content: space-between;
  }
}
