.button {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  color: $background;
  text-transform: uppercase;
  padding: 14px 26px;
  background-color: $basic_green;

  &:hover {
    background-color: $basic_green-2;
  }

  &:active {
    color: rgba($background, 0.5);
  }
}
