.footer {
  background-color: $secondary-color;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: calc(100% - 40px);
    height: 1px;
    top: 158px;
    left: 20px;
    background: $border-footer;
  }

  &::after {
    content: "";
    position: absolute;
    width: calc(100% - 40px);
    height: 1px;
    top: 95px;
    left: 20px;
    background: $border-footer;
  }
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer__block--logo {
  padding: 39px 0 32px 0;

  .logo {
    display: block;
  }
}

.footer__block--social {
  padding: 20px 0 21px 0;
}

.footer__column--copyright {
  padding: 22px 0 22px 0;
  width: 100%;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 10px 0 10px;
}

.footer__creator-logo {
  color: $article-font;
  font-weight: normal;
  font-size: 16px;
}

.footer__creator-link {
  color: $dark-grey;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover {
    color: $primary-color;
  }

  &:active {
    svg {
      opacity: 0.5;
    }

    .footer__creator-logo {
      color: rgba($article-font, 0.5);
    }
  }
}

@media (min-width: $tablet-width) {
  .footer {
    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }

  .footer__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer__block--logo {
    margin-right: 10px;
  }

  .footer__social-list {
    max-width: 140px;
  }

  .footer__column--copyright {
    width: auto;
  }

  .footer__creator-logo {
    margin-right: 22px;
    margin-left: 10px;
    max-width: 170px;
  }
}
