.header {
  position: fixed;
  width: 100%;
  z-index: 100;
  background: $background;
}

.header--index {
  filter: $filter;
}

.header__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 0;
}

.header--no-index {
  border-bottom: 1px solid $border-footer;
}

.header__nav {
  display: none;
}

.header__title-logo {
  margin-right: 6px;
}

.header__title-logo--nojs {
  margin-right: 34px;
}

.header__burger {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.header__burger-icon--open {
  display: block;
}

.header__burger-icon--close {
  display: none;
}

.header__wrapper--opened {
  .header__burger-icon--close {
    display: block;
  }

  .header__burger-icon--open {
    display: none;
  }

  .header__nav {
    display: block;
  }
}

.header--nojs {
  position: relative;
}

.header__wrapper--nojs {
  .header__burger-icon {
    display: none;
  }

  .header__nav {
    display: block;
    position: static;
  }
}

.header__menu {
  font-family: $primary-font;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}

.header__menu-item {
  margin-left: -20px;
  margin-right: -20px;
  border-top: 1px solid $border-color;
  text-align: center;
}

.header__menu-link--current-no-index {
  span {
    position: relative;
  }

  span::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: $primary-color;
    bottom: -10px;
    left: 0;
  }
}

.header__menu-item a[href] {
  &:hover {
    color: rgba($text, 0.5);
  }

  &:focus {
    color: rgba($text, 0.3);
    outline: none;
  }
}

.header__menu-link {
  color: $text;
  display: block;
  padding: 22px 0;
}

.header__menu-link:active {
  span {
    position: relative;
  }

  span::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: $primary-color;
    bottom: -10px;
    left: 0;
  }
}

.header__menu-link--current {
  span {
    position: relative;
  }

  span::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: $primary-color;
    bottom: -10px;
    left: 0;
  }
}

@media (min-width: $tablet-width) {
  .header {
    position: relative;
    background: transparent;
  }

  .header--index {
    filter: none;
  }

  .header__main {
    justify-content: start;
  }

  .header--no-index {
    border-bottom: none;
  }

  .header__wrapper {
    display: grid;
    grid-template-columns: 220px 1fr;
    padding-top: 24px;
    align-items: center;
  }

  .header__title-logo {
    display: none;
  }

  .header__burger {
    display: none;
  }

  .header__nav {
    display: block;
    justify-self: end;
  }

  .header__menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  .header__menu-item {
    margin-right: 34px;
    margin-left: 0;
    border: none;

    &:last-child {
      margin-right: 0;
    }
  }
}

@media (min-width: $dekstop-width) {
  .header--index {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
  }

  .header {
    display: block;
  }

  .header__wrapper {
    padding-top: 53px;
    grid-template-columns: 611px 1fr;
  }

  .header__menu {
    font-size: 20px;
    line-height: 30px;
  }

  .header__menu-item {
    margin-right: 36px;

    &:last-child {
      margin-right: 0;
    }
  }

  .header__menu-link {
    color: $background;
    display: block;
    padding: 22px 0;
  }

  .header__menu-link:active {
    span::before {
      background-color: $background;
    }
  }

  .header__menu-link--current {
    span::before {
      background-color: $background;
    }
  }

  .header__menu-item a[href] {
    &:hover {
      color: rgba($background, 0.5);
    }

    &:focus {
      color: rgba($background, 0.3);
    }
  }

  .header__menu-link--catalog {
    color: $text;
  }

  .header__menu-link--catalog:active {
    span::before {
      background-color: $primary-color;
    }
  }

  .header__menu-item--catalog a[href] {
    &:hover {
      color: rgba($text, 0.5);
    }

    &:focus {
      color: rgba($text, 0.3);
    }
  }
}
