.logo[href]:hover {
  opacity: 0.7;
  cursor: pointer;
}

.logo[href]:active {
  opacity: 0.5;
}

@media (min-width: $tablet-width) {
  .logo__image {
    width: 174px;
    height: 52px;
  }

  .logo-header {
    margin-right: 20px;
  }
}

@media (min-width: $dekstop-width) {
  .logo__image {
    width: 202px;
    height: 60px;
  }
}
