.page {
  height: 100%;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.page-body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: $article-font;
  background-color: $background;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.page-main {
  overflow: hidden;
}
