.product__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}

.product__title {
  font-family: $primary-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $text-catalog;
}

.product__property-cell {
  font-size: 12px;
  line-height: 16px;
  color: $article-font;
}

.product__property {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .product {
    margin-right: 60px;
  }

  .product__wrapper {
    display: flex;
    flex-direction: column;
  }

  .product__title {
    font-size: 20px;
    line-height: 24px;
  }

  .product__property-cell {
    font-size: 16px;
  }
}

@media (min-width: $dekstop-width) {
  .product__title {
    line-height: 21px;
  }
}
