.promo {
  background-image: url("../../img/index-background-mobile.jpg");
  background-size: 100% 305px;
  margin-bottom: 22px;
  background-repeat: no-repeat;
  background-position: center top;
  padding-top: 26px;
  position: relative;
  z-index: 1;
}

.promo__title {
  line-height: 36px;
  color: $background;
  margin: 0 0 25px 0;
  text-align: center;
}

.promo__text {
  font-family: $primary-font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: $background;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 29px 0;
}

.promo__image {
  display: block;
  margin: 0 auto;
}

.promo__link {
  font-size: 14px;
  line-height: 18px;
  padding: 11px 0;
  text-align: center;
  width: 100%;
  margin: 3px 0 0 0;
}

.promo__picture-wrapper {
  width: 100%;
  height: 305px;
  background-color: $primary-color;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.8;
}

@media (min-width: $tablet-width) {
  .promo {
    background-image: url("../../img/index-background-tablet.png");
    background-size: 709px 609px;
    background-position: 30px 271px;
    padding: 62px 0 526px 0;
  }

  .promo-wrapper {
    padding-left: 87px;
  }

  .promo__picture-wrapper {
    display: none;
  }

  .promo__title {
    font-size: 60px;
    line-height: 60px;
    color: $text;
    margin: 0 0 41px 0;
    text-align: left;
    width: 415px;
  }

  .promo__text {
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: $text;
    margin: 0 0 49px 0;
  }

  .promo__picture {
    display: none;
  }

  .promo__link {
    width: auto;
    max-width: 244px;
    font-size: 20px;
    line-height: 20px;
    padding: 17px 26px;
  }
}

@media (min-width: $dekstop-width) {
  .promo {
    background: none;
    padding: 14px 0 267px 0;

    &::after {
      content: "";
      position: absolute;
      width: 720px;
      height: 694px;
      background-color: $primary-color;
      top: -134px;
      left: calc(100% - 720px);
      opacity: 0.8;
      z-index: -1;
    }
  }

  .promo__picture-wrapper {
    display: block;
    top: -134px;
    left: calc(100% - 720px);
    width: 720px;
    height: 694px;
    background-image: url("../../img/index-background-desktop.jpg");
    background-size: 720px 694px;
    background-position: 0 0;
    background-color: $primary-color;
  }

  .promo__title {
    margin-top: 79px;
  }


  .promo__picture {
    display: block;
    grid-row: 1 / -1;
    grid-column: 2 / -1;
  }

  .promo-wrapper {
    display: grid;
    grid-template-columns: 420px 1fr;
    grid-template-rows: repeat(4, auto);
  }

  .promo__image {
    width: 552px;
    margin-left: -60px;
  }
}
