.soical-list__icon-vk,
.soical-list__icon-inst,
.soical-list__icon-fcb {
  display: none;
}

.soical-list__icon-inst--mobile,
.social-list__icon-vk--mobile,
.soical-list__icon-fcb--mobile {
  display: block;
}

.social-list__item {
  margin-right: 34px;

  &:last-child {
    margin-right: 0;
  }
}

.social-list__link {
  color: $dark-grey;

  &:hover {
    color: $primary-color;
  }

  &:active {
    .soical-list__icon {
      opacity: 0.5;
    }
  }
}

@media (min-width: $tablet-width) {
  .social-list__item {
    margin-right: 25px;

    &:last-child {
      margin-right: 0;
    }
  }

  .soical-list__icon-vk,
  .soical-list__icon-inst,
  .soical-list__icon-fcb {
    display: block;
  }

  .social-list__icon-vk--mobile,
  .soical-list__icon-inst--mobile,
  .soical-list__icon-fcb--mobile {
    display: none;
  }
}
