.social-list__item {
  margin-right: 34px;

  &:last-child {
    margin-right: 0;
  }
}

.social-list__link {
  color: $dark-grey;

  &:hover,
  &:focus {
    color: $primary-color;
    outline: none;
  }

  &:active {
    .social-list__icon {
      opacity: 0.5;
    }
  }
}

@media (min-width: $tablet-width) {
  .social-list__item {
    margin-right: 25px;

    &:last-child {
      margin-right: 0;
    }
  }

  .social-list__icon-vk {
    width: 30px;
    height: 32px;
  }

  .social-list__icon-inst {
    width: 20px;
    height: 23px;
  }

  .social-list__icon-fcb {
    width: 28px;
    height: 33px;
  }
}
