.work {
  margin-bottom: 42px;
}

.work__title {
  margin: 0 0 38px 0;
}

.work__list {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 20px;
}

.work__item {
  display: grid;
  grid-template-columns: 60px 1fr;
  grid-gap: 20px;
  align-items: center;
}

.work__icon {
  min-width: 60px;
  height: 60px;
  background-color: $primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
}

.work__text {
  margin: 0;
  color: $article-font;
}

@media (min-width: $tablet-width) {
  .work {
    margin-bottom: 0;
    border-bottom: 1px solid $border-color;
    padding-bottom: 5px;
  }

  .work__title {
    margin: 0 0 72px 0;
    font-size: 60px;
    line-height: 60px;
  }

  .work__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-content: space-between;
    column-gap: 95px;
    row-gap: 37px;
    font-size: 16px;
    line-height: 24px;
    counter-reset: element;
  }

  .work__item {
    display: grid;
    grid-template-rows: 80px 1fr;
    row-gap: 31px;
    margin: 0;
    position: relative;
    min-height: 280px;

    &::after {
      position: absolute;
      counter-increment: element;
      content: counter(element);
      font-family: $primary-font;
      font-style: normal;
      font-weight: normal;
      font-size: 280px;
      line-height: 280px;
      color: $secondary-color;
      top: -40px;
      left: 110px;
      z-index: -1;
    }
  }

  .work__text {
    grid-row: -1 / -2;
    grid-column: 1/ -1;
    align-self: start;
  }

  .work__icon {
    width: 80px;
    height: 80px;
  }
}

@media (min-width: $dekstop-width) {
  .work {
    margin-bottom: 70px;
    border: none;
  }

  .work__list {
    display: flex;
    justify-content: space-between;
  }

  .work__item {
    min-height: auto;
  }
}
