$primary-color: #68b738;
$secondary-color: #f2f2f2;
$special-grey-2: #ebebeb;
$range-color: #cdcdcd;
$dark-grey: #666666;
$article-font: #444444;
$text-catalog: #222222;
$status-error: #ff8282;
$primary-color--dark: #5eaa2f;
$cat-background: #62a53b;
$background: #ffffff;
$text: #000000;
$background-dark: #e5e5e5;
$text-dark : #111111;
$range: #dcdcdc;
$small-text: #c4c4c4;
$border-color: #e6e6e6;
$border-footer: #d9d9d9;

$tablet-width: 768px;
$dekstop-width: 1440px;
$primary-font: "Oswald", "Arial", sans-serif;
