$basic_green: #68b738;
$basic_grey: #f2f2f2;
$special_grey-2: #ebebeb;
$special_grey: #cdcdcd;
$dark_grey: #666666;
$special_dark-grey: #444444;
$special_dark-grey-2: #222222;
$status_error: #ff8282;
$basic_green-2: #5eaa2f;
$background: #ffffff;
$dark_main: #000000;
$background_dark: #e5e5e5;
$dark_title : #111111;
$range: #dcdcdc;

$tablet_width: 768px;
$dekstop_width: 1440px;
